.card {
    margin-top: 5%;
    margin-bottom: 10%;
    border-radius: 20px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    transition: all .2s ease-in-out;
    flex-grow: 1;
    min-height: 240px !important;
}

.card .card-title {
    font-weight: bolder;
    font-size: 100%;
}

.card .card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card .card-img-top {
    object-fit: cover;
}

.card-img-top {
    min-height: 140px !important;
    width: 100% !important;
    height: 10px !important;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.1);
}

.card .card-body {
    color: var(--bs-card-color);
    flex: 1 1 auto;
}