.chef-card {
    padding: 10px;
    width: 100%;
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
}

.chef-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, 300px);
}