#hero h1 {
    font-weight: 900;
    align-self: center;
    font-size: x-large;
}

@media(max-width:1023px) {
    #hero h1 {
        font-weight: 900;
        align-self: center;
        font-size: x-large;
    }
}

#hero {
    margin-top: 30px;
    text-align: center;
    display: flex;
    padding-top: 10%;
    padding-bottom: 10%;
    height: auto !important;
    justify-content: center !important;
    border-radius: 3% !important;
    background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
    color: black;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

h2 {
    font-size: 1.0rem !important;
}