.navbar {
    min-height: 80px !important;
    font-size: 20px;
    color: black !important;
    background-color: lightgray !important;
    font-weight: bolder !important;
    border-bottom: 1px solid black;
    display: flex !important;
    flex-wrap: nowrap !important;
}

html {
    height: 100% !important;
}

.navbar>* {
    color: black !important;
}

.navbar-brand,
.nav-link {
    color: black !important;
}

.nav-items {
    display: flex !important;
    flex-direction: row !important;
    justify-content: end !important;
}

.nav-items li {
    text-align: justify !important;
    justify-content: space-between !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}